#about
    .imgbox
        background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59)
        padding: 10px
    .socialbox
        background-image: linear-gradient(to left, #c471ed, #f64f59)
        position: relative
        top: -67px
        padding: 15px
        border-radius: 0 20px
        width: 200px
        i
            background-color: rgba(255, 255, 255, 0.4)
            color: white
            display: inline-flex
            justify-content: center
            align-items: center
            height: 35px
            width: 35px
            border-radius: 20px
            margin: 0 2px
            &:hover
                background-color: black
                transition: all 0.8s
    .textbox
        padding-bottom: 50px
    .all
        padding: 50px 0 0 50px
        .textbox
            h2
                font-weight: 700
                font-size: 28px
                margin-bottom: 10px
            h4
                font-size: 18px
                margin-bottom: 20px
                
            .theme
                background-image: linear-gradient(to right, #12c2e9, #f64f59, #f64f59)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
            p
                color: #767676
                line-height: 24px
                margin-bottom: 10px
        .about
            display: flex
            .box
                ul
                    li
                        line-height: 3
                        font-weight: 600
                        font-size: 14px
                        padding-right: 20px
                        border-right: 1px solid rgba(41, 41, 41, 0.1)
            .content
                ul
                    li
                        line-height: 3
                        padding: 0 15px
                        font-size: 14px
                        padding-right: 39px
                        color: #676b6e
        .btn
            color: white
            margin-top: 25px
            padding: 10px 25px
            border-radius: 25px
            font-weight: 700
            background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59)        
            margin-top: 35px
                
        
