#about
    .imgbox
        background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59)
        padding: 10px
    .icongroup
        background-image: linear-gradient(to left, #c471ed, #f64f59)
        display: flex
        width: 200px
        margin-top: -65px
        padding: 15px
        border-radius: 0 20px
        position: relative
        color: white
        i
            width: 35px
            height: 35px
            display: flex
            align-items: center
            justify-content: center
            margin: 0 3px
            border-radius: 45px
            background: rgba(255, 255, 255 ,0.4 )
    .textbox
        padding: 50px 0 0 50px
        h2
            font-size: 30px
            font-weight: 700
            letter-spacing: 2px
        h4
            font-size: 20px
            padding: 15px 0
        .theme
            background-image: linear-gradient(to right, #12c2e9, #f64f59, #f64f59)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
    .abouts
        display: flex
        margin-bottom: 20px
        .box,.boxx
            li
                padding: 15px 8px
                font-size: 14px
        .box
            font-weight: 700
            li
                padding-right: 20px
                border-right: 1px solid rgba(41, 41, 41, 0.1)
                font-size: 14px
        .boxx
            color: #a09b9b
    .btn
        color: white
        padding: 10px 18px
        background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59)
        border-radius: 30px
        margin-top: 20px
        font-size: 18px
        font-weight: 700
        letter-spacing: 1px

@media screen and (max-width: 576px)
    #about
        .abouts
            position: relative
            .boxx
                position: absolute
                top: 0px
                left: 100px
            .box offset-2
                margin-left: 0px
        .textbox
            padding: 0px
@media only screen and (min-width: 992px) and (max-width: 1200px)
    #about
        .textbox
            padding: 0 0 0 50px
        .abouts
            margin-bottom: 0px

            
