footer
    .socialbox
        padding: 20px 0

    h6
        display: flex
        justify-content: end
        padding: 20px 0
        color: rgba(41, 41, 41, 0.8)



@media screen and (max-width: 576px)
    footer
        .socialbox ,  h6
            display: flex
            justify-content: center
        i
            margin: 0 5px

@media only screen and (min-width: 576px) and (max-width: 768px)
    footer
        .socialbox ,  h6
            display: flex
            justify-content: center
        i
            margin: 0 5px