header
    width: 100%
    padding: 15px 0
    background: rgba(255, 255, 255, 0.9)
    position: fixed
    border-block-end: 1px solid #d8d6d6
    z-index: 1
    h1
        font-size: 40px
        font-weight: bold
    .menu
        display: flex
        justify-content: end
        h3
            font-size: 15px
            letter-spacing: 1px
            padding-top: 10px
            margin: 0 20px
            color: #747070


