body
    font-family: "Rubik", sans-serif
    font-weight: 300
    background: radial-gradient(circle, rgba(196,113,237,0.14) 33%, rgba(18,194,233,0.11808473389355745) 66%, rgba(246,79,89,0.14) 100%)
    color: #292929

img
    width: 100%

section
    padding: 100px 0
    border-block-end: 1px solid #d8d6d6