#myskill
    h4
        font-size: 16px
        font-weight: 600
        margin-bottom: 10px
    h5
        color: #787878
        font-size: 14px
    .background
        background: rgba(41, 41, 41, 0.4)
        height: 5px
        .color
            background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59)
            height: 5px

        h1
            font-size: 35px
            font-weight: 600
            margin-bottom: 25px
        h3
            color: #787878
            letter-spacing: 2px
            font-size: 14px
    .html
        position: relative
        margin-bottom: 25px
        h5
            position: absolute
            top: 0
            left: 92%
        .color
            background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59)
            width: 93%
            height: 5px
    .wordPress
        position: relative
        margin-bottom: 25px
        h5
            position: absolute
            top: 0
            left: 75%
            
        .color
            width: 75%
    .magento
        position: relative
        margin-bottom: 25px
        h5
            position: absolute
            top: 0
            left: 86%
            
        .color
            width: 86%
    .uiux
        position: relative
        margin-bottom: 25px
        h5
            position: absolute
            top: 0
            left: 88%
            
        .color
            width: 88%
    

    .boxs
        display: flex
        margin: 0 25px 25px 57px
        width: 95%
  
        .box
            border: 1px solid rgba(41, 41, 41, 0.1)
            background: rgba(255, 255, 255, 0.6)
            padding: 30px 15px
            display: flex
            align-items: center
            margin: 0px 10px
            width: 40%
            border-radius: 15px
     
            i
                color: #12c2e9
                font-size: 30px
                margin: 5px
            h6
                font-size: 20px


           
@media screen and (max-width: 576px)
    #myskill
        .boxs
            margin: 0 25px 15px 0
            .box
                padding: 30px 0px
                width: 50%

@media only screen and (min-width: 576px) and (max-width: 768px)
    #myskill
        .boxs
            margin: 0 25px 15px 0px
            width: 100%
            .box
                width: 50%


@media only screen and (min-width: 768px) and (max-width: 992px)
    #myskill
        .boxs
            margin: 0 25px 15px 0px
            width: 100%
            .box
                width: 50%


@media only screen and (min-width: 992px) and (max-width: 1200px)
    #myskill
        .boxs
            margin: 0 25px 20px 57px