#portfolio
    .box
        margin: 20px 0
        .imgbox
            position: relative
            img
                border-radius: 15px
            .textbox
                position: absolute
                top: 20px
                left: 20px
                letter-spacing: 1px
                h6
                    color: #888
                    margin-top: 10px
                    font-size: 18px
                h5
                    font-weight: 700
                    font-size: 20px
                    color: white
                 
        
