body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  background: radial-gradient(circle, rgba(196, 113, 237, 0.14) 33%, rgba(18, 194, 233, 0.118085) 66%, rgba(246, 79, 89, 0.14) 100%);
  color: #292929;
}

img {
  width: 100%;
}

section {
  padding: 100px 0;
  -webkit-border-after: 1px solid #d8d6d6;
          border-block-end: 1px solid #d8d6d6;
}

header {
  border-bottom: 1px solid rgba(41, 41, 41, 0.1);
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-after: 1px solid #d8d6d6;
          border-block-end: 1px solid #d8d6d6;
  position: fixed;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 22px 0;
}

header img {
  height: 30px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

header ul li {
  margin: 0 10px;
  letter-spacing: 1px;
  color: #292929;
  font-size: 14px;
}

#home .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 120px;
}

#home .box .imgbox {
  width: 675px;
  height: 100%;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
}

#home .box .imgbox img {
  border-radius: 50%;
  padding: 7px;
}

#home .box .textbox {
  padding-left: 70px;
  line-height: 1.2;
}

#home .box .textbox h2 {
  color: #292929;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 500;
}

#home .box .textbox h1 {
  color: #292929;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 5px;
}

#home .box .textbox h1 span {
  background-image: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#f64f59), to(#f64f59));
  background-image: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .box .textbox h3 {
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-size: 18px;
  color: #686767;
}

#home .box .textbox .btn {
  color: white;
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 700;
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
}

#about .imgbox {
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  padding: 10px;
}

#about .social {
  background-image: -webkit-gradient(linear, right top, left top, from(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #c471ed, #f64f59);
  position: relative;
  top: -67px;
  padding: 15px;
  border-radius: 0 20px;
  width: 200px;
}

#about .social i {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  margin: 0 2px;
}

#about .social i:hover {
  background-color: black;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#about .title {
  padding-bottom: 50px;
}

#about .title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #292929;
  margin-bottom: 20px;
}

#about .title h3 {
  letter-spacing: 2px;
  font-size: 13px;
  color: #676b6e;
}

#about .all {
  padding: 50px 0 0 50px;
}

#about .all .textbox h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 10px;
}

#about .all .textbox h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

#about .all .textbox .theme {
  background-image: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#f64f59), to(#f64f59));
  background-image: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about .all .textbox p {
  color: #767676;
  line-height: 24px;
  margin-bottom: 10px;
}

#about .all .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .all .about .box ul li {
  line-height: 3;
  font-weight: 600;
  font-size: 14px;
  padding-right: 20px;
  border-right: 1px solid rgba(41, 41, 41, 0.1);
}

#about .all .about .content ul li {
  line-height: 3;
  padding: 0 15px;
  font-size: 14px;
  padding-right: 39px;
  color: #676b6e;
}

#about .all .btn {
  color: white;
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 700;
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  margin-top: 35px;
}

#myskill h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

#myskill h5 {
  color: #787878;
  font-size: 14px;
}

#myskill .background {
  background: rgba(41, 41, 41, 0.4);
  height: 5px;
}

#myskill .background .color {
  background: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  height: 5px;
}

#myskill .title {
  padding-bottom: 50px;
}

#myskill .title h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
}

#myskill .title h3 {
  color: #787878;
  letter-spacing: 2px;
  font-size: 14px;
}

#myskill .html {
  position: relative;
  margin-bottom: 25px;
}

#myskill .html h5 {
  position: absolute;
  top: 0;
  left: 92%;
}

#myskill .html .color {
  background: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  width: 93%;
  height: 5px;
}

#myskill .wordPress {
  position: relative;
  margin-bottom: 25px;
}

#myskill .wordPress h5 {
  position: absolute;
  top: 0;
  left: 75%;
}

#myskill .wordPress .color {
  width: 75%;
}

#myskill .magento {
  position: relative;
  margin-bottom: 25px;
}

#myskill .magento h5 {
  position: absolute;
  top: 0;
  left: 86%;
}

#myskill .magento .color {
  width: 86%;
}

#myskill .uiux {
  position: relative;
  margin-bottom: 25px;
}

#myskill .uiux h5 {
  position: absolute;
  top: 0;
  left: 88%;
}

#myskill .uiux .color {
  width: 88%;
}

#myskill .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 25px 25px 57px;
  width: 95%;
}

#myskill .boxs .box {
  border: 1px solid rgba(41, 41, 41, 0.1);
  background: rgba(255, 255, 255, 0.6);
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
  width: 40%;
  border-radius: 15px;
}

#myskill .boxs .box i {
  color: #12c2e9;
  font-size: 30px;
  margin: 5px;
}

#myskill .boxs .box h6 {
  font-size: 20px;
}

#service h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}

#service h3 {
  color: #787878;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 50px;
}

#service .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(41, 41, 41, 0.1);
  background: #fdecf487;
  margin-bottom: 20px;
  padding: 30px 25px;
  border-radius: 15px;
}

#service .box i {
  margin-right: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  width: 55px;
  height: 55px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 30px;
}

#service .box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

#service .box h4 {
  line-height: 25px;
  font-size: 17px;
  color: #787878;
}

#portfolio h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}

#portfolio h3 {
  color: #787878;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 50px;
}

#portfolio .box .imgbox {
  position: relative;
  margin: 15px 0;
}

#portfolio .box .imgbox img {
  border-radius: 15px;
}

#portfolio .box .text {
  position: absolute;
  top: -25px;
  left: 20px;
}

#portfolio .box .text h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}

#portfolio .box .text h4 {
  color: #888;
}

#testimonial h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}

#testimonial h3 {
  color: #787878;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 50px;
}

#testimonial .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#testimonial .box img {
  border-radius: 50%;
  height: 120px;
  width: 115px;
}

#testimonial .text {
  padding: 0 20px;
}

#testimonial .text p {
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 18px;
  color: #787878;
  margin-bottom: 20px;
}

#testimonial .text h2 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 0.3px;
}

#testimonial .text h4 {
  font-size: 14px;
  color: #787878;
}
/*# sourceMappingURL=style.css.map */