body {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  background: radial-gradient(circle, rgba(196, 113, 237, 0.14) 33%, rgba(18, 194, 233, 0.118085) 66%, rgba(246, 79, 89, 0.14) 100%);
}

img {
  width: 100%;
}

section {
  padding: 100px 0;
  -webkit-border-after: 1px solid #d8d6d6;
          border-block-end: 1px solid #d8d6d6;
}

section h1 {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 700;
}

section h3 {
  font-size: 15px;
  margin: 40px 0 50px;
  letter-spacing: 2px;
  color: #747474;
}

section p {
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.3px;
  color: #686767;
  margin: 10px 0;
}

header {
  width: 100%;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  -webkit-border-after: 1px solid #d8d6d6;
          border-block-end: 1px solid #d8d6d6;
  z-index: 1;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .menu h3 {
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 10px;
  margin: 0 20px;
  color: #747070;
}

#about .imgbox {
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  padding: 10px;
}

#about .icongroup {
  background-image: -webkit-gradient(linear, right top, left top, from(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #c471ed, #f64f59);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin-top: -65px;
  padding: 15px;
  border-radius: 0 20px;
  position: relative;
  color: white;
}

#about .icongroup i {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3px;
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.4);
}

#about .textbox {
  padding: 50px 0 0 50px;
}

#about .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

#about .textbox h4 {
  font-size: 20px;
  padding: 15px 0;
}

#about .textbox .theme {
  background-image: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#f64f59), to(#f64f59));
  background-image: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about .abouts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

#about .abouts .box li, #about .abouts .boxx li {
  padding: 15px 8px;
  font-size: 14px;
}

#about .abouts .box {
  font-weight: 700;
}

#about .abouts .box li {
  padding-right: 20px;
  border-right: 1px solid rgba(41, 41, 41, 0.1);
  font-size: 14px;
}

#about .abouts .boxx {
  color: #a09b9b;
}

#about .btn {
  color: white;
  padding: 10px 18px;
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  border-radius: 30px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  #about .abouts {
    position: relative;
  }
  #about .abouts .boxx {
    position: absolute;
    top: 0px;
    left: 100px;
  }
  #about .abouts .box offset-2 {
    margin-left: 0px;
  }
  #about .textbox {
    padding: 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #about .textbox {
    padding: 0 0 0 50px;
  }
  #about .abouts {
    margin-bottom: 0px;
  }
}

#skills h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

#skills .colorbox {
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  height: 5px;
}

#skills .background {
  background-color: #aca5a5;
  height: 5px;
}

#skills .html {
  position: relative;
  margin-bottom: 25px;
}

#skills .html h5 {
  position: absolute;
  top: 0;
  left: 92%;
}

#skills .html .colorbox {
  width: 92%;
}

#skills .wordpress {
  position: relative;
  margin-bottom: 25px;
}

#skills .wordpress h5 {
  position: absolute;
  top: 0;
  left: 75%;
}

#skills .wordpress .colorbox {
  width: 75%;
}

#skills .magento {
  position: relative;
  margin-bottom: 25px;
}

#skills .magento h5 {
  position: absolute;
  top: 0;
  left: 86%;
}

#skills .magento .colorbox {
  width: 86%;
}

#skills .ux {
  position: relative;
}

#skills .ux h5 {
  position: absolute;
  top: 0;
  left: 88%;
}

#skills .ux .colorbox {
  width: 88%;
}

#skills .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 20px;
}

#skills .boxs .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 30px;
  border: 1px solid #e9e0e0ee;
  border-radius: 15px;
  width: 40%;
  margin: 0 20px 20px 0;
}

#skills .boxs .box h6, #skills .boxs .box i {
  font-size: 20px;
}

#skills .boxs .box i {
  color: #12c2e9;
  margin-right: 10px;
  font-size: 30px;
}

@media screen and (max-width: 576px) {
  #skills .boxs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #skills .boxs {
    margin-top: 20px;
    padding: 0px;
  }
  #skills .boxs .box {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #skills .boxs .box {
    width: 45%;
  }
}

#services .box {
  border: 1px solid #cfcacaee;
  border-radius: 15px;
  padding: 30px 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#services .box .textbox {
  width: 70%;
  margin-left: 20px;
}

#services .box .textbox h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0;
}

#services .box .textbox h4 {
  font-size: 17px;
  color: #747070;
}

#services .box .icon {
  width: 60px;
  height: 60px;
  background: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  color: #ffff;
  font-size: 30px;
}

#portfolio .box {
  margin: 20px 0;
}

#portfolio .box .imgbox {
  position: relative;
}

#portfolio .box .imgbox img {
  border-radius: 15px;
}

#portfolio .box .imgbox .textbox {
  position: absolute;
  top: 20px;
  left: 20px;
  letter-spacing: 1px;
}

#portfolio .box .imgbox .textbox h6 {
  color: #888;
  margin-top: 10px;
  font-size: 18px;
}

#portfolio .box .imgbox .textbox h5 {
  font-weight: 700;
  font-size: 20px;
  color: white;
}

#testimonial .box {
  border: 1px solid #cfcacaee;
  border-radius: 15px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#testimonial .box .imgbox {
  width: 29%;
  border-radius: 50%;
  overflow: hidden;
  height: 115px;
  width: 115px;
}

#testimonial .box .textbox {
  width: 70%;
  margin-left: 20px;
}

#testimonial .box .textbox h2 {
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0;
}

#testimonial .box .textbox h4 {
  font-size: 15px;
  color: #787878;
}

#testimonial .box .textbox p {
  font-size: 19px;
}

@media screen and (max-width: 576px) {
  #testimonial .box .imgbox {
    height: 78px;
    width: 85px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #testimonial .box {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #testimonial .box .imgbox {
    height: 90px;
    width: 110px;
  }
}

#blog .box {
  padding-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(41, 41, 41, 0.1);
}

#blog .box .textbox {
  padding: 0 15px;
}

#blog .box .textbox h2 {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 700;
}

#blog .box .textbox .btn {
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  #blog .box {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #blog .box {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #blog .box {
    margin-bottom: 20px;
  }
}

#home {
  padding: 200px 0;
}

#home .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .box .imgbox {
  width: 300px;
  height: 300px;
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  border-radius: 50%;
}

#home .box .imgbox img {
  border-radius: 50%;
  padding: 7px;
}

#home .box .textbox {
  padding-left: 70px;
  width: 40%;
}

#home .box .textbox h1 {
  font-size: 45px;
  font-weight: 600;
}

#home .box .textbox h2 {
  font-size: 18px;
  padding-bottom: 20px;
}

#home .box .textbox .theme {
  background-image: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#f64f59), to(#f64f59));
  background-image: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#home .box .textbox .btn {
  color: whitew;
  padding: 10px 18px;
  border-radius: 30px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 18px;
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  #home .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #home .box .imgbox {
    width: 275px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home .box .textbox {
    width: 100%;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #home .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #home .box .imgbox {
    width: 275px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home .box .textbox {
    width: 100%;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #home .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #home .box .imgbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home .box .textbox {
    width: 100%;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #home .box .textbox {
    padding-left: 50px;
  }
  #home .box .textbox h1 {
    font-size: 33px;
  }
}

#contact .boxs {
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(41, 41, 41, 0.1);
}

#contact .boxs input {
  margin: 15px 0;
  border-radius: 3px;
}

#contact .boxs .firstbox input {
  width: 49%;
}

#contact .boxs .firstbox h4 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
}

#contact .boxs .firstbox input, #contact .boxs .secondbox input {
  height: 50px;
}

#contact .boxs .thirdbox input {
  height: 100px;
}

#contact .boxs .thirdbox input, #contact .boxs .secondbox input {
  width: 99%;
}

#contact .boxs .btn {
  color: white;
  padding: 10px 18px;
  margin-top: 20px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
}

#contact .addressbox .box {
  padding: 20px;
  margin-bottom: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  border: 1px solid #cfcacaee;
}

#contact .addressbox .textbox {
  margin-left: 20px;
  line-height: 1.2;
  width: 65%;
}

#contact .addressbox .textbox h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

#contact .addressbox .textbox h5 {
  font-size: 18px;
  color: #747070;
}

#contact .addressbox .icon {
  background-color: #ffff;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
}

#contact .addressbox .icon i {
  font-size: 30px;
  color: #12c2e9;
}

#contact .map iframe {
  width: 100%;
  height: 600px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #contact .boxs {
    margin-bottom: 20px;
  }
}

footer {
  padding: 20px 0;
}

footer .socialbox i {
  font-size: 17px;
  margin: 0 3px;
  color: #464343;
}

footer h6 {
  font-size: 18px;
  color: #838080;
  text-align: end;
}

@media screen and (max-width: 576px) {
  footer .socialbox, footer h6 {
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  footer .socialbox, footer h6 {
    text-align: center;
  }
  footer .socialbox {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */